<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"] - NPSLWeb</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/simplex-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/customStyle.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    @{
        var loginSession = new Byte[20];

        bool userLoggedIn = Context.Session.TryGetValue("LoginSession", out loginSession);
        if (userLoggedIn)
        {
            string loginSessionResult = System.Text.Encoding.UTF8.GetString(loginSession);

            var menuSession = new Byte[2000];
            Context.Session.TryGetValue("MenuSession", out menuSession);
            var menuMaster = Newtonsoft.Json.JsonConvert.DeserializeObject<List<NPSLCore.Models.DB.MenuModels>>(System.Text.Encoding.UTF8.GetString(menuSession));
            var groupByMenu = menuMaster.GroupBy(x => x.MainMenuName).ToList();


            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Net-Tech Logo</a>
                    </div>


                    <ul class="nav navbar-nav">
                        @foreach (var MenuList in groupByMenu)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@MenuList.Key<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @foreach (var SubMenuList in MenuList)
                                    {
                                        <li><a href="@Url.Action(@SubMenuList.ActionName,@SubMenuList.ControllerName)">@SubMenuList.SubMenuName</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a><span class="glyphicon glyphicon-user"></span> Welcome: @loginSessionResult</a></li>
                        <li><a href="@Url.Action("LogOut", "Login")"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    </ul>
                </div>
            </nav>

        }
        else
        {
            Context.Response.Redirect("/Login/Index");
        }
        <div class="container">
            @RenderBody()
            <hr />
            <footer class="footer">
                <p>&copy; 2018 - NPSLWeb</p>
            </footer>
        </div>
        @RenderSection("Scripts", required: false)
    }

</body>
</html>
