<div class="panel-container">
    <div class="panel-left">
        <div class="table-responsive">
            <table id="nonReconsilePrimaryData" class="table table-striped table-bordered">
                <text style="font-weight:bold">Primary Non Reconsile Record</text>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>RRN</th>
                        <th>Amount</th>
                        <th>Template Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reconsileReportList in @Model.NonReconsileData)
                    {
                        @if (@reconsileReportList.IsPrimary == true)
                        {
                            <tr class="active">
                                <td><input type="checkbox" id="primaryCheckBox" onclick="onPrimaryCheckBox()" class="chkClass"></td>
                                <td>@reconsileReportList.RRNNumber</td>
                                <td>@reconsileReportList.Amount</td>
                                <td>@reconsileReportList.TemplateName</td>
                                <td>@reconsileReportList.Date</td>
                                <td hidden>@reconsileReportList.Id</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="splitter-horizontal">
    </div>

    <div class="panel-right">
        <div class="table-responsive" id="nonReconsileNonPrimary">
            <table id="nonReconsileNonPrimaryTable" class="table table-striped table-bordered">
                <text style="font-weight:bold">Non Reconsile Record</text>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>RRN</th>
                        <th>Amount</th>
                        <th>Template Name</th>
                        <th>Date</th>
                  
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reconsileReportList in @Model.NonReconsileData)
                    {
                        @if (@reconsileReportList.IsPrimary == false)
                        {
                            <tr class="active">
                                <td><input type="checkbox" id="secondaryCheckBox" onclick="onNonPrimaryCheckBox()"></td>
                                <td>@reconsileReportList.RRNNumber</td>
                                <td>@reconsileReportList.Amount</td>
                                <td>@reconsileReportList.TemplateName</td>
                                <td>@reconsileReportList.Date</td>
                                <td hidden>@reconsileReportList.Id</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>