
<div class="row">
    @{
        var dashBoardClorCount = 1;
        var intCount = 1;
    }
    @foreach (var reconsileReportList in @Model.NonReconsileData)
    {
        @if (intCount == 1)
        {
            dashBoardClorCount = @reconsileReportList.TemplateSpilt;
            intCount = intCount + 1;
        }
        @if (@reconsileReportList.TemplateSpilt == dashBoardClorCount)
        {
            <div class="table-responsive col-md-6">
                <table id="reconsileDatatable" class="table table-striped table-bordered">
                    <text style="font-weight:bold">@reconsileReportList.TemplateName</text>
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>RRN</th>
                            <th>Amount</th>
                            <th>Template Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    @if (dashBoardClorCount % 2 != 0)
                    {
                        @foreach (var reconsileReportList2 in @Model.NonReconsileData)
                        {
                            @if (@reconsileReportList2.TemplateSpilt == dashBoardClorCount)
                            {
                                <tbody>
                                    <tr class="success">
                                        <td><input type="checkbox" id="primaryCheckBox" value="@reconsileReportList2.Id" onclick="onPrimaryCheckBox()" class="chkClass"></td>
                                        <td>@reconsileReportList2.RRNNumber</td>
                                        <td>@reconsileReportList2.Amount</td>
                                        <td>@reconsileReportList2.TemplateName</td>
                                        @if (@reconsileReportList2.Date.ToString("dd-MMM-yyyy") == "01-Jan-1900")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@reconsileReportList2.Date.ToString("dd-MMM-yyyy")</td>
                                        }
                                        <td hidden>@reconsileReportList2.TemplateSpilt</td>
                                    </tr>
                                </tbody>
                            }
                        }

                    }
                    else
                    {
                        @foreach (var reconsileReportList2 in @Model.NonReconsileData)
                        {
                            @if (@reconsileReportList2.TemplateSpilt == dashBoardClorCount)
                            {
                                @if (@reconsileReportList2.Id == 0)
                                {
                                    <tbody>
                                        <tr class="unselectable">
                                            <td><input type="checkbox" id="nonPrimaryCheckBox" value="@reconsileReportList2.Id" disabled="disabled" class="unselectable"></td>
                                            <td>@reconsileReportList2.RRNNumber</td>
                                            <td>@reconsileReportList2.Amount</td>
                                            <td>@reconsileReportList2.TemplateName</td>
                                            @if (@reconsileReportList2.Date.ToString("dd-MMM-yyyy") == "01-Jan-1900")
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@reconsileReportList2.Date.ToString("dd-MMM-yyyy")</td>
                                            }
                                            <td hidden>@reconsileReportList2.TemplateSpilt</td>
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    <tbody>
                                        <tr class="danger">
                                            <td><input type="checkbox" id="nonPrimaryCheckBox" value="@reconsileReportList2.Id" onclick="onNonPrimaryCheckBox()" class="chkNonClass"></td>
                                            <td>@reconsileReportList2.RRNNumber</td>
                                            <td>@reconsileReportList2.Amount</td>
                                            <td>@reconsileReportList2.TemplateName</td>
                                            @if (@reconsileReportList2.Date.ToString("dd-MMM-yyyy") == "01-Jan-1900")
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@reconsileReportList2.Date.ToString("dd-MMM-yyyy")</td>
                                            }
                                            <td hidden>@reconsileReportList2.TemplateSpilt</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }

                    }
                </table>
            </div>
            dashBoardClorCount = dashBoardClorCount + 1;
        }
    }
</div>
