@model NPSLCore.Models.DB.Users


<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>



<div class="modal-dialog" id="ModalPopUp">

    <div class="modal-content">

        <div class="modal-header">

            <h4 class="modal-title" id="myModalLabel">@ViewBag.Message</h4>

        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "ModalForm" }))

    {
        <div class="modal-body">

            <div class="form-horizontal" style="padding-bottom:15px">
            </div>

        </div>
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">

            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-3" })

            <div class="col-md-8">

                @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="modal-footer" style="padding:5px">

            <div class="form-group">

                <div class="col-md-offset-2 col-md-9">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <input type="submit" class="btn btn-primary" id="confirmok1" value="Save changes" />

                </div>

            </div>

        </div>

}

    </div>

</div>



@*<script type="text/javascript">

    $(document).ready(function () {

        $('.btn-primary').click(function () {

            var std = $(this).attr('id');

            var title = $(this).attr('title');



            //var Id = $(this).attr('id');

            $('#myModal').modal({

                backdrop: 'static',

                keyboard: false

            })

            .on('click', '#confirmok1', function (e) {

                $.ajax({

                    type: "POST",

                    url: '@Url.Action("Addrecord")',

                    data: '{StudentId: ' + JSON.stringify(std) + '}',

                    dataType: "json",

                    contentType: "application/json; charset=utf-8",

                    success: function (response) {

                        window.location.reload();



                        $('#myModal').modal('hide');

                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        alert('oops, something bad happened')

                    }

                });

            });

        });



        });

    });

</script>*@
