
<div class="row">
    @{
        var dashBoardClorCount = 1;
    }
    @foreach (var reconsileReportList in @Model.ReportData)
    {
        @if (@reconsileReportList.TemplateId == dashBoardClorCount)
        {
            <div class="table-responsive col-md-6">
                <table id="reconsileDatatable" class="table table-striped table-bordered">
                    <text style="font-weight:bold">@reconsileReportList.RRNNumber</text>
                    <thead>
                        <tr>
                            <th>RRN</th>
                            <th>Amount</th>
                            <th>Template Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    @if (dashBoardClorCount % 2 != 0)
                    {
                        @foreach (var reconsileReportList2 in @Model.ReportData)
                        {
                            @if (@reconsileReportList2.TemplateId == dashBoardClorCount)
                            {
                                <tbody>
                                    <tr class="success">
                                        <td>@reconsileReportList2.RRNNumber</td>
                                        <td>@reconsileReportList2.Amount</td>
                                        <td>@reconsileReportList2.TemplateName</td>
                                        @if (@reconsileReportList2.Date.ToString("dd-MMM-yyyy") == "01-Jan-1900")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@reconsileReportList2.Date.ToString("dd-MMM-yyyy")</td>
                                        }
                                    </tr>
                                </tbody>
                            }
                        }

                    }
                    else
                    {
                        @foreach (var reconsileReportList2 in @Model.ReportData)
                        {
                            @if (@reconsileReportList2.TemplateId == dashBoardClorCount)
                            {
                                <tbody>
                                    <tr class="danger">
                                        <td>@reconsileReportList2.RRNNumber</td>
                                        <td>@reconsileReportList2.Amount</td>
                                        <td>@reconsileReportList2.TemplateName</td>
                                        @if (@reconsileReportList2.Date.ToString("dd-MMM-yyyy") == "01-Jan-1900")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@reconsileReportList2.Date.ToString("dd-MMM-yyyy")</td>
                                        }
                                    </tr>
                                </tbody>
                            }
                        }

                    }

                </table>
            </div>
            dashBoardClorCount = dashBoardClorCount + 1;
        }
    }
</div>
