<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/exportDataBundle.js"></script>
</head>
<body>
    <div class="row">
        @{
            var tempRowCount = 1;
        }
        <div class="se-pre-con" hidden="hidden"></div>
        @if (@Model.ReportData.Count > 0)
        {
            <div id="exportDiv" style="float: right">
                <button onclick="exportClickCSV()" class="btn btn-primary">CSV</button>
                <button onclick="exportClickXLS()" class="btn btn-primary">XLS</button>
            </div>
        }
        @foreach (var reconsileReportList in @Model.ReportData)
        {

            @if (@reconsileReportList.denseCount == tempRowCount)
            {
                <input type="hidden" id="header1" name="header1" value="Reconsile Between : @reconsileReportList.PrimaryTemplateName And @reconsileReportList.NonPrimaryTemplateName">
                <input type="hidden" id="header2" name="header2" value="Total No of Transaction : @reconsileReportList.TotalTrx">
                <input type="hidden" id="header3" name="header3" value="Total Amount : @reconsileReportList.SumAmount">
                <table id="reconsileDatatable" class="table table-striped table-bordered">
                    <thead>

                        <text style="font-weight:bold">Reconsile Between : @reconsileReportList.PrimaryTemplateName And @reconsileReportList.NonPrimaryTemplateName</text>
                        <br>
                        <text style="font-weight:bold">Total No of Transaction : @reconsileReportList.TotalTrx</text>
                        <br>
                        <text style="font-weight:bold">Total Amount : @reconsileReportList.SumAmount </text>
                        <tr class="warning">
                            <th>RRN - Primary</th>
                            <th>Amount - Primary</th>
                            <th>Date - Primary</th>
                            <th>RRN - Non Primary</th>
                            <th>Amount -Non Primary</th>
                            <th>Date - Non Primary</th>
                            <th>Reconsile Type</th>
                            <th>Manual Reconsile Reason</th>
                        </tr>
                    </thead>
                    @if (tempRowCount % 2 != 0)
                    {
                        @foreach (var reconsileReportListPrimary in @Model.ReportData)
                        {
                            @if (@reconsileReportListPrimary.denseCount == tempRowCount)
                            {

                                <tbody>
                                    <tr class="@(@reconsileReportListPrimary.NonPrimaryReconsileType == "M" ? "danger" : "success")">
                                        <td>&nbsp;@reconsileReportListPrimary.PrimaryRRNNumber</td>
                                        <td>@reconsileReportListPrimary.PrimaryAmount</td>
                                        <td>@reconsileReportListPrimary.PrimaryDate.ToString("dd-MMM-yyyy")</td>
                                        <td>&nbsp;@reconsileReportListPrimary.NonPrimaryRRNNumber</td>
                                        <td>@reconsileReportListPrimary.NonPrimaryAmount</td>
                                        <td>@reconsileReportListPrimary.NonPrimaryDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@(@reconsileReportListPrimary.NonPrimaryReconsileType == "A" ? "Auto" : "Manual")</td>
                                        <td>@(@reconsileReportListPrimary.PrimaryReconsileDesc)</td>
                                    </tr>
                                </tbody>

                            }
                        }
                    }
                    else
                    {
                        @foreach (var reconsileReportListPrimary in @Model.ReportData)
                        {
                            @if (@reconsileReportListPrimary.denseCount == tempRowCount)
                            {
                                <tbody>
                                    <tr class="@(@reconsileReportListPrimary.NonPrimaryReconsileType == "M" ? "danger" : "success")">
                                        <td>&nbsp;@reconsileReportListPrimary.PrimaryRRNNumber</td>
                                        <td>@reconsileReportListPrimary.PrimaryAmount</td>
                                        <td>@reconsileReportListPrimary.PrimaryDate.ToString("dd-MMM-yyyy")</td>
                                        <td>&nbsp;@reconsileReportListPrimary.NonPrimaryRRNNumber</td>
                                        <td>@reconsileReportListPrimary.NonPrimaryAmount</td>
                                        <td>@reconsileReportListPrimary.NonPrimaryDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@(@reconsileReportListPrimary.NonPrimaryReconsileType == "A" ? "Auto" : "Manual")</td>
                                        <td>@(@reconsileReportListPrimary.PrimaryReconsileDesc)</td>
                                    </tr>
                                </tbody>
                            }
                        }

                    }
                </table>
                tempRowCount = tempRowCount + 1;
            }


        }
    </div>
</body>
