
<div class="row">
    @{
        var tempRowCount = 1;
    }
    <div class="se-pre-con" hidden ="hidden"></div>
    @foreach (var reconsileReportList in @Model.ReportData)
    {

        @if (@reconsileReportList.denseCount == tempRowCount)
        {
            <table id="reconsileDatatable" class="table table-striped table-bordered">
                <text style="font-weight:bold">Reconsile Between : @reconsileReportList.PrimaryTemplateName And @reconsileReportList.NonPrimaryTemplateName </text>
                <thead>
                    <tr>
                        <th>RRN - Primary</th>
                        <th>Amount - Primary</th>
                        <th>Date - Primary</th>
                        <th>RRN - Non Primary</th>
                        <th>Amount -Non Primary</th>
                        <th>Date - Non Primary</th>
                    </tr>
                </thead>
                @if (tempRowCount % 2 != 0)
                {
                    @foreach (var reconsileReportListPrimary in @Model.ReportData)
                    {
                        @if (@reconsileReportListPrimary.denseCount == tempRowCount)
                        {

                            <tbody>
                                <tr class="@(@reconsileReportListPrimary.NonPrimaryReconsileType == "M" ? "danger" : "success")">
                                    <td>@reconsileReportListPrimary.PrimaryRRNNumber</td>
                                    <td>@reconsileReportListPrimary.PrimaryAmount</td>
                                    <td>@reconsileReportListPrimary.PrimaryDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryRRNNumber</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryAmount</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryDate.ToString("dd-MMM-yyyy")</td>
                                </tr>
                            </tbody>

                        }
                    }
                }
                else
                {
                    @foreach (var reconsileReportListPrimary in @Model.ReportData)
                    {
                        @if (@reconsileReportListPrimary.denseCount == tempRowCount)
                        {
                            <tbody>
                                <tr class="@(@reconsileReportListPrimary.NonPrimaryReconsileType == "M" ? "danger" : "success")">
                                    <td>@reconsileReportListPrimary.PrimaryRRNNumber</td>
                                    <td>@reconsileReportListPrimary.PrimaryAmount</td>
                                    <td>@reconsileReportListPrimary.PrimaryDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryRRNNumber</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryAmount</td>
                                    <td>@reconsileReportListPrimary.NonPrimaryDate.ToString("dd-MMM-yyyy")</td>
                                </tr>
                            </tbody>
                        }
                    }

                }
            </table>
            tempRowCount = tempRowCount + 1;
        }


    }
</div>
